a {
    text-decoration: none;
    color: #333
}

.title{
    font-family: 'Major Mono Display', monospace;
    font-size: 1.4em;
}

.icons {
    padding: 10px;
    margin-left: 20px;
}

.icons:hover{
    background-color: orange;
}


mat-sidenav-content{
    width: 100%;
}

