<div fxFlexFill fxLayout="column">
  
  <mat-sidenav-container fxFlex fxLayout="row">
    <!-- *ngIf="IsAuthentified"-->
    <!-- SIDEBAR -->
    <mat-sidenav #drawer mode="side" fxFlex="300px" role="navigation">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node
          *matTreeNodeDef="let node"
          matTreeNodeToggle
          matTreeNodePadding
        >
          <button mat-icon-button disabled></button>
          <a [routerLink]="node.type" >{{ node.name }}</a>
        </mat-tree-node>

        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
        >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>
          <a [routerLink]="node.type" >{{ node.name }}</a>
          
        </mat-tree-node>
      </mat-tree>
    </mat-sidenav>
    <!-- CONTENT -->
    <mat-sidenav-content>
        <mat-toolbar color="#F5F5F5">
            <mat-toolbar-row fxFlex="80">
              <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                color="warn"
              >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
              <span
                >
                <h2>Sport24</h2></span
              >
              <span style="margin-left: 20px; font-size: 0.7em"
                >La salle de sport nouvelle génération</span
              >
            </mat-toolbar-row>
            <mat-toolbar-row fxFlex="20">
              <a *ngIf="!IsAuthentified" mat-list-item routerLink="/login"
                ><i class="fas fa-sign-in-alt icons"></i
              ></a>
              <a mat-list-item routerLink="/home"
                ><i class="fas fa-sign-out-alt icons"></i
              ></a>
            </mat-toolbar-row>
          </mat-toolbar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

