<mat-card fxFlex="90">
    <mat-card-header>
        <mat-card-title>
           title</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://source.unsplash.com/random/800x600">
    <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, 
          maxime asperiores voluptate cumque dolor optio nisi voluptatum temporibus 
          aliquid deleniti illo? Accusamus modi maiores expedita officiis numquam rerum
           dolorem fugiat aspernatur vitae, recusandae molestiae in tempora labore 
           exercitationem odit, assumenda consectetur tenetur rem molestias, 
           facilis nemo mollitia illo.
           Quisquam, dolore.

        </p>
    </mat-card-content>
    <mat-action-list align="center">
        <button (click)="more(cours)" mat-raised-button color="primary" >Détail</button>
    </mat-action-list>
</mat-card>