<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
crossorigin="anonymous">


<footer class="footercl">
  <div fxLayoutAlign = "space-around center">
      <p style="font-size: 50px">SPORT24</p>
      <p style="color: crimson">La salle de sport Nouvelle Génération!</p>
      <div fxLayoutAlign = "space-around center" fxFlex = "25">
          <p>Suivez-nous : </p> <br>
          <div><a href="#"><i class='fab fa-facebook'style='font-size:24px'></i> </a></div> 
          <div><a href="#"><i class='fab fa-instagram'style='font-size:24px'></i> </a></div> 
          <div><a href="#"><i class='fab fa-twitter'style='font-size:24px'></i> </a></div> 
          <div><a href="#"><i class='fab fa-linkedin'style='font-size:24px'></i> </a></div> 

      </div>
     

  </div>
 

    

    <div fxLayout="row" class="divfootThree">
        <div><a href="#" class="liencl lcl1" >Contact</a></div>
        <div><a href="#" class="liencl lcl2">Information</a></div>
        <div><a href="#" class="liencl lcl3">Tarif</a></div>
        <div><a href="#" class="liencl lcl3">Charte de confidentialité</a></div>
      </div>
  </footer>

