
  h1{
    margin: 0; padding: 0;
    color: #FFF;
  }

  p{
    text-align: justify;
  }
  
  .jumbotron{
    height: 150px;
    text-align: center;
    background-color: #0d0f11;
  }

  .image-home{
    width: 70%;
    border-bottom: 1px dotted orange;
  }

  .separator{

display: block;
clear: both;
margin: 20px 0 20px;
width: 70px;
border: 1px solid orange;
  }





// VIEW MOBILE CSS//

body {
  background: #F17563;
  font-family: Open Sans;
  font-size: 50px;
  color: #222;
}

label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 70%;
  max-width: 320px;
  height: 250px;
  margin-top: 20px;
}

.player {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.imgfront{
  width: 100%;
  height: 100%;
  opacity: 0.15;
}

.title{
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  color: white
}

  .player div {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #333;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  .player .back {
      background: #222;
      color: #FFF;
      text-align: center;
      word-wrap: break-word;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }

input {
  display: none;
}

.player.voted {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

