<div style="display:block;"
       [style.width]="width">
    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides"
               [fullscreen]="fullscreen">
    </slideshow>
    
  </div>
  <div flexLayout="row">
        <div class="jumbotron" fxFlex="100">
            <h1>SÉANCE DE SPORT ET ACTIVITÉS SPORTIVES</h1>
        </div>
    </div>
    <div flexLayout="row">
    <div fxFlex="60" fxFlexOffset="20">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo adipisci labore architecto ut deleniti,
            ratione omnis. Sint culpa quisquam possimus architecto? Magni quibusdam voluptatum laborum quidem reiciendis
            qui repudiandae. Tempora molestias illum vero facere. Tempora cum accusamus quo, dignissimos maiores labore,
            id aspernatur doloribus eius reprehenderit nam velit quibusdam debitis nemo. Quibusdam deleniti ea veritatis
            soluta distinctio! Illo nemo sed hic fuga maiores ad magnam similique sint a. Sint illo fugiat nisi quam.
            Rerum illo, quasi provident aut temporibus natus dolores iure impedit. Quae, aliquam culpa commodi assumenda
            nostrum sit sapiente ipsum ex inventore saepe obcaecati ea impedit. Cumque, laudantium dicta iure veritatis
            reprehenderit totam delectus deleniti maxime ea consequatur inventore doloribus exercitationem ratione
            minima officiis cupiditate atque ipsam? Quibusdam corrupti alias assumenda voluptates labore repudiandae
            beatae obcaecati? Corrupti excepturi laudantium modi porro ut debitis saepe quidem. Enim odio laboriosam
            magni dolores error tempora voluptas doloribus, magnam vel minus unde, reiciendis in cum dolor adipisci quia
            eum, a saepe aspernatur obcaecati! Corrupti nulla molestias, eius doloribus, laborum, ratione soluta non eum
            placeat ipsam quis. Officia blanditiis eveniet ratione dolor, sapiente itaque inventore nihil in corporis
            eaque libero aut atque temporibus, minus asperiores nisi odit numquam nemo pariatur, facilis fugiat dolorum.
        </p>
    </div>

</div>


  