h1, p {
    color: #333;
  }
  
  h1{
    margin: 0; padding: 0;
    color: #FFF;
  }

  p{
    text-align: justify;
  }
  
  .jumbotron{
    height: 150px;
    text-align: center;
    background-color: #0d0f11;
  }

  .image-home{
    width: 100%;
    margin: 0; padding: 0;
    border-bottom: 1px dotted orange;
  }

  .separator{

display: block;
clear: both;
margin: 20px 0 20px;
width: 70px;
border: 1px solid orange;
  }

  .content-text{
    padding: 30px;
  }